data/manually-submitted/**/*.txt filter=lfs diff=lfs merge=lfs -text
data/manually-submitted/**/*.netset filter=lfs diff=lfs merge=lfs -text
data/manually-submitted/**/*.ipset filter=lfs diff=lfs merge=lfs -text